@CHARSET "UTF-8";

form label {
    float: left;
    width: 205px;
    /*margin: 3px 0px 0px 0px;*/
}

form input {
    margin: 3px 3px 0px 2px;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

form .requis {
    color: #c00;
}

form .erreur {
	color: #900;
}


form .succes {
	color: #090;
}